{% load static %}
<!-- About -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 ">
    <h3 class="title">Hi I am Amine </h3>
    <img  class="img-fluid rounded center" src="{% static 'media/Amine.jpg' %}" alt="Amine Mouelhi">
    <p class="aboutdes">My name is Amine Mouelhi. I'm a Tunisian photographer and digital creator, who loves the sense of adventure and
        discovery.
        Since 2010, I captured my favourite moments and landscapes, taking viewers through my journey and encouraging travelers
        and backpackers to explore the natural beauty of Tunisia and its culture.</p>
        <p class="aboutdes">From coastlines to villages, and from mountains to deserts, I share my experiences through my cameras' lenses: sunrise
        to starry nights.
        A new adventure is now awaiting: The Tour Of Tunisia <br>
        And more is about to come...</p>
        </div>
</div>
<!-- /About -->