<hr>
<div class="container footer">
    <div class="row  justify-content-center">
        <div class="col-6 about">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, . Vulputate dignissim suspendisse in est. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Aliquet nec ullamcorper sit amet. Urna nec tincidunt praesent semper. </p>
        </div>
        <div class="col-6 contact">
            <h1>Social Media</h1>
            <div class="wrapper">
                <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
                    <li> <a href="https://www.facebook.com/AmineMouelhii/" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                    <li> <a href="https://www.instagram.com/aminemouelhii/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li> <a href="https://www.youtube.com/channel/UCiPxsqfefcyn5MxtEVI2zYA" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
